[workspace]
authors = ["Hu Tianrun <tianrunhu@gmail.com>"]
channels = ["conda-forge", "robostack-staging"]
name = "TyGrit"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]
test = { cmd = "pytest", env = { PYTHONPATH = "${workspace}" } }

[dependencies]
python = "3.11.*"
pip = ">=25.3,<26"
ros-humble-desktop = ">=0.10.0,<0.11"
scipy = ">=1.11,<2"
numpy = ">=1.26,<2"
loguru = ">=0.7,<1"
cuda-toolkit = "12.8.*"
eigen = ">=3.4.0,<4"
nlopt = ">=2.10.0,<3"
orocos-kdl = ">=1.5.3,<2"
pybind11 = ">=3.0.1,<4"
cmake = ">=3.28,<4"
scikit-build-core = ">=0.11,<1"
nanobind = ">=2.4,<3"

[feature.dev.dependencies]
pre-commit = "*"
pytest = "*"
black = "*"
ruff = "*"
tomli = ">=2.4.0,<3"
tomli-w = ">=1.2.0,<2"

[pypi-dependencies]
tygrit = { path = ".", editable = true }
py-trees = ">=2.2,<3"
torch = { version = "==2.7.0", index = "https://download.pytorch.org/whl/cu128" }
mani-skill = ">=3.0.0b0, <4"
torchvision = "==0.22.0"

[feature.vamp.pypi-dependencies]
vamp-preview = { path = "thirdparty/vamp_preview", editable = true }

[feature.lint.dependencies]
python = "3.11.*"
pre-commit = "*"
black = "*"
ruff = "*"

[feature.ci.dependencies]
python = "3.11.*"
pip = ">=25.3,<26"
numpy = ">=1.26,<2"
scipy = ">=1.11,<2"
loguru = ">=0.7,<1"
eigen = ">=3.4.0,<4"
nlopt = ">=2.10.0,<3"
orocos-kdl = ">=1.5.3,<2"
pybind11 = ">=3.0.1,<4"
pytest = "*"
matplotlib-base = "*"

[feature.ci.pypi-dependencies]
tygrit = { path = ".", editable = true }
py-trees = ">=2.2,<3"
opencv-python-headless = ">=4.8,<5"

[feature.ci.tasks]
test = { cmd = "pytest", env = { PYTHONPATH = "${workspace}" } }

[environments]
default = ["dev", "vamp"]
lint = { features = ["lint"], no-default-feature = true }
ci = { features = ["ci"], no-default-feature = true }
