name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Pixi
      uses: prefix-dev/setup-pixi@v0.5.1
      with:
        pixi-version: v0.63.2
        cache: true
        environments: lint

    - name: Run pre-commit
      run: pixi run -e lint pre-commit run --all-files

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Pixi
      uses: prefix-dev/setup-pixi@v0.5.1
      with:
        pixi-version: v0.63.2
        cache: true
        environments: ci

    - name: Run tests
      run: pixi run -e ci test
